server {
    listen 80;
    server_name {{inventory_hostname}};
    access_log  /var/log/nginx/{{ project_name }}.access.log;
    error_log   /var/log/nginx/{{ project_name }}.error.log;

    location / {
        proxy_pass http://{{ proxy_pass }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /robots.txt {
        alias {{ static_root }}robots.txt;
    }

    location /static/ {
        alias {{ static_root }};
        expires 30d;
    }

    location /media/ { # MEDIA_URL
        alias {{ media_root }}; # MEDIA_ROOT
        expires 15d;
    }
}