[program:{{project_name}}]
command={{project_root}}bin/gunicorn {{project_name}}.wsgi:application -c {{project_root}}gunicorn_conf.py
directory={{project_root}}
autostart=true
autorestart=true
redirect_stderr=true