[uwsgi]
chdir={{project_root}}
module={{project_name}}.wsgi:application
master=True
pidfile=/tmp/project-master.pid
vacuum=True
max-requests=5000
daemonize=/var/log/uwsgi/{{project_name}}.log

UWSGI_DJANGO_SETTINGS_MODULE={{project_name}}.settings.production